<!-- <h1 class="text-center m-5">Como Ajudar?</h1>
<div class="row">
    <div class="col-4">
        <p >
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Seja um voluntário!
            </button>
        </p>
        <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p>
                        Você pode participar dos bazares, ajudar com os tratamentos e nas feiras de adoção.
                    </p>
                </div>
            </div>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2"
                aria-expanded="false" aria-controls="collapseExample1">
                Nos dê uma carona!
            </button>
        </p>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2"
                aria-expanded="false" aria-controls="collapseExample2">
                Seja um lar temporário!
            </button>
        </p>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2"
                aria-expanded="false" aria-controls="collapseExample3">
                Faça uma doação!
            </button>
        </p>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2"
                aria-expanded="false" aria-controls="collapseExample4">
                Ajude a divulgar!
            </button>
        </p>
    </div>

</div>


<div class="collapse" id="collapseExample2">
    <div class="card card-body">
        <p>
            dsafdsafds
        </p>
    </div>
</div> -->
<div class="col-4 mt-2">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <h6><strong><i class="fa fa-car" aria-hidden="true"></i> Nos dê uma carona!</strong></h6>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Você pode nos ajudar sendo um voluntário, nos ajudando a buscar os animais quando recebemos pedidos
                    de ajuda.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        <h6><strong><i class="fa fa-handshake-o" aria-hidden="true"></i> Seja um voluntário!</strong></h6>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Você pode participar dos bazares, ajudar com os tratamentos e nas feiras de adoção.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        <h6><strong><i class="fa fa-home" aria-hidden="true"></i> Seja um lar temporário!</strong></h6>
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Caso não possa acolher definitivamente com um animalzinho de estimação você pode servir como lar
                    provisório, ou
                    seja, abrigá-lo temporariamente até que ele seja adotado. Envie um e-mail para que daremos
                    instruções para você.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                        <h6><strong><i class="fa fa-paw" aria-hidden="true"></i> Adote um animal!</strong></h6>
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    A adoção é um ato de amor e de responsabilidade. O resultado é uma vida repleta de alegria, amor e
                    gratidão. Para
                    adotar, você precisa ter plena consciência de que está acolhendo uma vida que dependerá sempre de
                    seus cuidados.
                    Vá até a nossa aba "Quero Adotar" e preencha o formulário que receberemos seu interesse na adoção
                    dos nossos animais
                    ou entrando em contato através de nossas redes sociais. <br />
                    <i>O adotante deve ter mais de 18 anos, apresentar o comprovante de residência e o RG, permitir
                        visitas, ter uma
                        forma segura de transportar o animal e passar pela triagem, que avalia questões ligadas ao
                        perfil familiar,
                        rotina do adotante, histórico com animais, segurança e necessidades do animal.</i>
                </div>
            </div>
        </div>

        <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            <h6><strong><i class="fa fa-money" aria-hidden="true"></i> Doe!</strong></h6>
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                            Carnês mensal:
                            Nossos carnês é uma das formas de você nos ajudar mensalmente com as despesas de nossos animais,
                            nós marcamos com você um dia do mês para passarmos receber a mensalidade em sua casa ou você pode
                            depositar/transferir a mensalidade em nossa conta bancária.
                        
                            Doações unicas:
                            Através de nossas contas bancárias, pelo p
                        
                        
                            As doações podem ser feitas por depósito bancário.
                        
                            AMPARA – Associação de Mulheres Protetoras dos Animais Rejeitados e Abandonados
                        
                            CNPJ: 12.791.298/0001-84
                        
                            Banco Itaú
                        
                            Ag. 3130
                        
                            Conta Corrente 34555-0
                    </div>
                </div>
            </div>

    </div>
</div>
