<div class="container text-center">
    <h1 style="margin-top: 15px;" class="text-muted">Como Ajudar?</h1>
    <hr>
</div>
<div class="container">
    <div class="col-md-6 col-sm-12 mt-2 text-center">
        <div id="accordion">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                            <h6><strong><i class="fa fa-money" aria-hidden="true"></i> Doe!</strong></h6>
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" lass="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p><strong>Carnê Mensal:</strong></p>
                        <p class="text-left">Nosso carnê é uma forma de você nos ajudar mensalmente com as despesas de
                            nossos animais, o
                            pagamento pode ser feito das seguintes maneiras:
                            Podemos marcar com você um dia do mês para passar receber a mensalidade em sua casa, podemos
                            gerar
                            um boleto bancário, por transferência/depósito
                            através da conta bancária que está abaixo ou você pode doar através do PicPay clicando no
                            ícone abaixo.</p>

                        <p><strong>Doações Unicas:</strong></p>
                        <p class="text-left">Através de depósito/transferência obtendo nossa conta bancário clicando no
                            ícone do Santander abaixo, boleto bancário ou clicando no
                            ícone abaixo para obter o QrCode pelo PicPay.</p>
                        <img title="Clique aqui para obter o QrCode e doar pelo PicPay" data-toggle="modal"
                            data-target="#modalExemplo" src="../../assets/Imagens/ppay-icon.ico"
                            alt="https://app.picpay.com/user/gaarcapivarirafard"
                            class="img-thumbnail text-center pointer" style="width:180; height:85px;">
                        <img title="Clique para obter os dados bancários" src="../../assets/Imagens/santander.ico"
                            style="width:180; height:85px;" data-toggle="modal" data-target="#modalExemplo1"
                            class="img-thumbnail text-center pointer" alt="ícone do banco santander">
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                <h6><strong><i class="fa fa-paw" aria-hidden="true"></i> Adote um animal!</strong></h6>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p class="text-left">A adoção é um ato de amor e de responsabilidade. O resultado é uma vida
                                repleta de alegria, amor e gratidão.
                                Para adotar, você precisa ter plena consciência de que está acolhendo uma vida que
                                dependerá
                                sempre de seus cuidados.
                                Caso tenha interesse, vá até a nossa aba "Quero Adotar" e preencha o formulário que
                                receberemos seu interesse na
                                adoção dos nossos animais ou entrar em contato através de nossas redes sociais.
                            </p><br />
                            <i>
                                <p class="text-left">O adotante deve ter mais de 18 anos, apresentar o comprovante de
                                    residência e o RG, permitir
                                    visitas, ter uma
                                    forma segura de transportar o animal e passar pela triagem, que avalia questões
                                    ligadas
                                    ao
                                    perfil familiar,
                                    rotina do adotante, histórico com animais, segurança e necessidades do animal.
                                </p>
                            </i>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h6><strong><i class="fa fa-home" aria-hidden="true"></i> Seja um lar
                                            temporário!</strong>
                                    </h6>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                <p class="text-left">Caso não possa acolher definitivamente com um animalzinho de
                                    estimação
                                    você pode ajudá-lo oferecendo seu lar
                                    provisóriamente, ou seja, abrigando-o temporariamente até que ele seja adotado. Caso
                                    possa ajudar, nos envie um e-mail que daremos
                                    instruções para você.</p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour"
                                        aria-expanded="true" aria-controls="collapseFour">
                                        <h6><strong><i class="fa fa-car" aria-hidden="true"></i> Nos dê uma
                                                carona!</strong>
                                        </h6>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="text-left">Você pode nos ajudar buscando os animais quando recebemos
                                        pedidos
                                        de ajuda.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                                        <h6><strong><i class="fa fa-handshake-o" aria-hidden="true"></i> Seja um
                                                voluntário!</strong></h6>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="text-left">Você pode participar dos bazares, ajudar com os tratamentos e
                                        nas
                                        feiras de adoção.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Doe pelo PicPay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="../../assets/Imagens/qrcode.png" alt="https://app.picpay.com/user/gaarcapivarirafard"
                    class="img-thumbnail">
            </div>
            <div class="modal-footer">
                <p class="text-left">Baixe o aplicativo do PicPay no seu celular para escanear o QrCode doar qualquer
                    valor.</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalExemplo1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Dados Bancários</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">

                <p> Banco: Santander <br />
                    Nome: Helena Forti da Costa <br />
                    CPF: 408.548.588-14 <br />
                    Agência: 0149 <br />
                    Conta Poupança: 010860-1
                </p>
            </div>
            <div class="modal-footer">
                <p class="text-left">Por esses dados bancários você pode fazer depósitos ou transferências.</p>
            </div>
        </div>
    </div>
</div>