<div class="p-0">
<h1 class="text-center m-4">Contato</h1>
  <div class="col-md-12">
    <p>Para nos contatar, envie-nos um e-mail. Todos os e-mails s&#227;o lidos e filtrados. Tenha em mente, no entanto,
      algumas coisas antes de nos escrever:</p>
    <ul class="list-icons">
      <li class="object-non-visible">Todo o nosso trabalho
        &#233; volunt&#225;rio.</li>
      <li>Recebemos pedidos de ajuda diariamente. N&#227;o temos como atender a todos infelizmente
        e por isso, filtramos os casos mais graves e vi&#225;veis.</li>
      <li>O Gaar é indepentende, por isso contamos com a colaboração de todos para que possamos assim, ajudar.</li>
      <li>Não temos um espaço físico para abrigar os animais, por isso contamos com os abrigos
        temporários dos nossos parceiros.</li>
      <li>Sempre divulgamos nossos pr&#243;ximos eventos em nossas redes sociais. Siga-nos no <a
          href="https://www.facebook.com/gaarcapivarierafard/" target="_blank">Facebook</a> e também no <a
          href="https://www.instagram.com/gaarcapivarirafard/" target="_blank"> Instagram</a> para saber quando e onde
        ser&#225; o pr&#243;ximo evento.</li>     
      <p class="text-center"><strong><br />
        Para denunciar crimes de maus-tratos ou qualquer outro previsto na Lei 9.605/98, Artigo
        32, ligue para 181</strong></p>.
    </ul>
  </div>
  <hr>

  <p class=text-center>
    <a data-toggle="tooltip" data-placement="right" title="https://www.facebook.com/gaarcapivarierafard/"
      href="https://www.facebook.com/gaarcapivarierafard/" target="_blank">
      <i class="fa fa-facebook-square fa-3x m-1" aria-hidden="true"></i>
    </a>
    <a data-toggle="tooltip" data-placement="right" title="https://www.instagram.com/gaarcapivarirafard/"
      href="https://www.instagram.com/gaarcapivarirafard/" target="_blank">
      <i class="fa fa-instagram fa-3x m-1" aria-hidden="true"></i>
    </a>
    <a data-toggle="tooltip" data-placement="right" title="gaarcapivari@outlook.com"
      href="mailto:gaarcapivari@outlook.com" target="_blank">
      <i class="fa fa-envelope-o fa-3x m-1" aria-hidden="true"></i>
    </a>
  </p>
  <!-- coloquei o e-mail centralizado (class text-center, na div..) -->
</div>