<section id="team" class= "p-0">
  <div class="container">
    <h1 class="text-center m-5">Quem Somos</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="assets/Imagens/imagem1.jpg" alt="Imagem">
                  </p>
                  <!-- Membro do time -->
                  <h5 class="card-title m-4">Nome</h5>  
                  <p class="card-text">Cargo</p>
                  <p class="card-text"><i>Passe o mouse na imagem para saber mais.</i></p>              
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <p class="card-text">TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook-square fa-2x"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Fim -->
      <!-- TMembro do time -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="assets/Imagens/imagem1.jpg" alt="Imagem">
                  </p>
                  <h5 class="card-title m-4">Nome</h5>  
                  <p class="card-text">Cargo</p>
                  <p class="card-text"><i>Passe o mouse na imagem para saber mais.</i></p> 
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  
                  <p class="card-text">TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook-square fa-2x"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Fim -->
      <!-- Membro do time -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="assets/Imagens/imagem1.jpg" alt="Imagem">
                  </p>
                  <h5 class="card-title m-4">Nome</h5>  
                  <p class="card-text">Cargo</p>
                  <p class="card-text"><i>Passe o mouse na imagem para saber mais.</i></p>                   
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <p class="card-text">TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook-square fa-2x"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Fim -->
      <!-- Membro do time -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="assets/Imagens/imagem1.jpg" alt="Imagem">
                  </p>
                  <h5 class="card-title m-4">Nome</h5>  
                  <p class="card-text">Cargo</p>
                  <p class="card-text"><i>Passe o mouse na imagem para saber mais.</i></p>            
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <p class="card-text">TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook-square fa-2x"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Fim -->
      <!-- Membro do time -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="assets/Imagens/imagem1.jpg" alt="Imagem">
                  </p>
                  <h5 class="card-title m-4">Nome</h5>  
                  <p class="card-text">Cargo</p>
                  <p class="card-text"><i>Passe o mouse na imagem para saber mais.</i></p>                   
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <p class="card-text">TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook-square fa-2x"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Fim -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="assets/Imagens/imagem1.jpg" alt="Imagem">
                  </p>
                  <h5 class="card-title m-4">Nome</h5>  
                  <p class="card-text">Cargo</p>
                  <p class="card-text"><i>Passe o mouse na imagem para saber mais.</i></p> 
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <p class="card-text">TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto
                      TextoTextoTextoTextoTextoTextoTextoTexto</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook-square fa-2x"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

    </div>
  </div>
</section>
<!-- Team -->