<div class="container text-center">
    <h1 style="margin-top: 15px;" class="text-muted">Quem Somos</h1>
    <hr>
  </div>
  <div class="container"></div>
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class="img-fluid" src="assets/Imagens/helena.png" alt="Imagem">
                    </p>
                    <!-- Membro do time -->
                    <h5 class="card-title m-4">Helena Forti</h5>
                    <p class="card-text">Diretora Financeira</p>
                    <p class="card-text"><i>Clique na imagem para saber mais.</i></p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <p class="card-text">"Sempre gostei dos animais e me sensibilizei com os mais vulneráveis. <br />
                      Eu cuido da parte financeira do GAAR, contabilizo tudo que entra e sai para prestação de contas.
                      Também realizo alguns resgates e os levo para o veterinário nas minhas folgas do trabalho.”
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank"
                          href="https://www.facebook.com/helena.fortidacosta">
                          <i class="fa fa-facebook-square fa-2x"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./Fim -->
        <!-- TMembro do time -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="assets/Imagens/lilian.jpg" alt="Imagem">
                    </p>
                    <h5 class="card-title m-4">Liliane Bedendi</h5>
                    <p class="card-text">Responsável pelos Lares Temporários</p>
                    <p class="card-text"><i>Clique na imagem para saber mais.</i></p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
  
                    <p class="card-text">“Sempre fui cuidadora dos animais há muitos anos e a cidade por ser pequena não
                      tinha muitos recursos e conscientização.
                      Hoje isso melhorou muito e temos muita ajuda das voluntárias.
                      Sou vegana e sempre o que for o meu alcance para salvar os bichinhos, eu vou fazer”</p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-facebook-square fa-2x"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./Fim -->
        <!-- Membro do time -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="assets/Imagens/maju2.jpg" alt="Imagem">
                    </p>
                    <h5 class="card-title m-4">Maria Júlia</h5>
                    <p class="card-text">Responsável pelos Resgates</p>
                    <p class="card-text"><i>Clique na imagem para saber mais.</i></p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <p class="card-text">"Eu sempre fui muito sensível se tratando de animais.
                      Quando tive a oportunidade de poder cuidar mais deles, sabia que estava escolhendo o caminho certo.
                      Hoje sou vegetariana e tento fazer o máximo que consigo pelos bichinhos da cidade, pois ssão
                      inocentes e não merecem a maldade humana.”</p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-facebook-square fa-2x"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- ./Fim --> 
      </div>
    </div>
  </section>
  <!-- Team -->