li {
    list-style-type: none;
}
ul li:before {    
    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 5px 0 -15px;
    color:black;
}

.padding-a-ong{
    padding: 150px;
}

.dropdownmenu ul, .dropdownmenu li {
	margin: 10;
	padding: 0;
}
.fa-instagram  
{
    color:#ff3399 !important;
}
.gal {	
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;	
	}	
	.gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {
		
	.gal {
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	}
}