<div class="container text-center">
  <h1 style="margin-top: 15px;" class="text-muted">O Gaar</h1>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p>
        Fundado por um grupo de amigos em 2018, o GAAR - Grupo de Apoio aos Animais de Rua atua principalmente no
        resgate de animais que
        estejam feridos ou em situação de risco, recuperação e adoção na cidade Capivari, Rafard - SP e região. O GAAR
        não
        possui uma sede física, por isso, além de contar com doações e parcerias com algumas agropets que ajudam a
        realizar
        as feiras de adoção, contam com o lar temporário de voluntários que disponibilizam suas casas para abrigar os
        animais
        até que encontrarmos um lar responsável e permanente. <br />
        Nosso trabalho, no entando, não se resume a resgate e adoção. São muitos os objetivos, tais como:
      </p>
      <ul class="list-icons">
        <li>Alimentar os animais em situação de rua com o projeto de alimentação, realizando a instalação, reparação e
          abastecimento de bebedouros e comedouros nos bairros cujo a taxa de abandono de animal é alta;</li>
        <li>Defender os animais;</li>
        <li>Educar crianças e adultos sobre a importância de cuidar do meio-ambiente e respeitar a natureza e os
          animais;
        </li>
        <li>Denunciar crimes de maus-tratos ou qualquer outro previsto na Lei 9.605/98, Artigo 32.</li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-12 text">
      <div class="card" style="width: 18rem;">
        <img src="assets/Imagens/lartemporario.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tião</h5>
          <p class="card-text">Tião foi um cachorro que que foi resgatado em condições precarias e hoje vive fazendo
            safadesas por ai...</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="card" style="width: 18rem;">
        <img src="assets/Imagens/lartemporario1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tião</h5>
          <p class="card-text">Tião foi um cachorro que que foi resgatado em condições precarias e hoje vive fazendo
            safadesas por ai...</p>
        </div>
      </div>

    </div>
    <!-- <div class="container text-center">
        <hr>
      </div>
    <div class="row">
      <div class="gal" col="md-12">
        <img src="assets/Imagens/imagem2.jpg" alt="">

        <img src="assets/Imagens/imagem1.jpg" alt="">
        <img src="assets/Imagens/imagem3.jpg" alt="">

        <img src="assets/Imagens/imagem2.jpg" alt="">

        <img src="assets/Imagens/imagem1.jpg" alt="">
        <img src="assets/Imagens/imagem3.jpg" alt="">

        <img src="assets/Imagens/imagem2.jpg" alt="">
      </div> -->
    </div>