
<h1 class="text-center m-5">O Gaar</h1>
<div class="col-md-12">
<p>
  Fundado por um grupo de amigos em 2018, o GAAR Capivari e Rafard atua principalmente no resgate de animais que estejam feridos ou em situação de risco, recuperação e adoção na cidade Capivari, Rafard - SP e região. O GAAR não possui uma sede física, por isso, além de contar com doações e parcerias com algumas agropets que ajudam a realizar as feiras de adoção, contam com o lar temporário de voluntários que disponibilizam suas casas para abrigar os animais 
  até que encontrarmos um lar responsável e permanente. <br />
  Nosso trabalho, no entando, não se resume a resgate e adoção. São muitos os objetivos, tais como:</p>
  <ul class="list-icons">
  <li>Alimentar os animais em situação de rua com o projeto de alimentação, realizando a instalação, reparação e abastecimento de bebedouros e comedouros nos bairros cujo a taxa de abandono de animal é alta;</li>
  <li>Defender os animais;</li>
  <li>Educar crianças e adultos sobre a importância de cuidar do meio-ambiente e respeitar a natureza e os animais;</li>
  <li>Denunciar crimes de maus-tratos ou qualquer outro previsto na Lei 9.605/98, Artigo 32.</li>
</ul>
</div>
<hr>