
<h1 class="text-center m-4">O Gaar</h1>
<p class="text-center">
  O “GAAR Capivari e Rafard” foi criado por um grupo de amigos para resgatar os animais em situação de rua ou que estejam sofrendo maus tratos na cidade Capivari, Rafard - SP e região. 
  E também tem o projeto de alimentação desses cães realizando a instalação e reparação de bebedouros e comedouros nos bairros cujo a taxa de abandono de animal é alta.
  O GAAR não possui uma sede física, por isso, além de contar com doações e parcerias com algumas agropets que ajudam a realizar as feiras de adoção, contam com o lar temporário de voluntários que disponibilizam suas casas para abrigar os animais 
  até que encontrar um lar responsável e permanente
</p>