<h1 class="text-center m-5" font="">Quero Adotar</h1>
  <div class="col-8 offset-2">
    <form #form="ngForm" [formGroup]="myForm" class="mt-3" (submit)="enviar()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input formControlName="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@exemplo.com">
        <p *ngIf="myForm.get('email').errors?.required && (myForm.get('email').touched )" class="text-danger mt-1">O email é obrigatório!</p>
        <p *ngIf="myForm.get('email').errors?.email" class="text-danger mt-1">O email digitado não é válido!</p>
      </div>
      <div class="form-group">
        <label for="name">Nome</label>
        <input formControlName="nome" type="name" class="form-control" id="exampleFormControlInput2" placeholder="Nome completo">
        <p *ngIf="myForm.get('nome').errors?.required && (myForm.get('nome').touched )" class="text-danger mt-1">O nome é obrigatório!</p>
        <p *ngIf="myForm.get('nome').errors?.minlength" class="text-danger mt-1">O nome precisa ser válido!</p>
      </div>
      <div class="form-group">
        <label for="Mensagem">Mensagem</label>
        <textarea formControlName="mensagem" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <p *ngIf="myForm.get('mensagem').errors?.required && (myForm.get('mensagem').touched )" class="text-danger mt-1">A mensagem é obrigatória!</p>
        <p *ngIf="myForm.get('mensagem').errors?.minlength" class="text-danger mt-1">A mensagem precisa ter no mínimo 20 caracteres!</p>
      </div>
      <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
      <div *ngIf="sucesso" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
        <strong>Muito obrigada pela intenção!</strong> Sua mensagem foi enviada com sucesso!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="erro" class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
        <strong>Ops!</strong> Ocorreu um erro ao tentar enviar sua menssagem. Tente novamente mais tarde!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </form>
  </div>
