html {
    scroll-behavior: smooth;
  }

  body {
    background: rgb(226,230,235) !important;
background: linear-gradient(90deg, rgba(226,230,235,1) 0%, rgba(255,255,255,0.31416316526610644) 85%)!important;
  }